/* Hide Jupyter input prompts like "In [1]:" */
.jp-InputPrompt,
.jp-InputArea-prompt {
  display: none !important;
}

/* Hide Jupyter output prompt area*/
.jp-OutputPrompt,
.jp-OutputArea-prompt {
  display: none !important;
}

/* Container for the tags */
.nb-tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 12px; /* Space between tags and Colab badge */
}

/* The Tag Badge */
.nb-tag {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 12px;
  
  /* Modern, subtle coloring */
  background-color: var(--md-default-fg-color--lightest); 
  color: var(--md-default-fg-color);
  border: 1px solid var(--md-default-fg-color--lighter);
  
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

/* Optional: Make tags colorful on hover */
.nb-tag:hover {
  border-color: var(--md-accent-fg-color);
  color: var(--md-accent-fg-color);
  cursor: default;
}

.md-grid {
  max-width: 1300px; /* Default is ~1220px */
}
/*
.md-grid {
  max-width: 96%;
  margin-right: auto;
  margin-left: auto;
}*/

/* Center images that are the ONLY thing in the paragraph */
.md-typeset p > img:only-child {
  display: block;      /* Make it a block element so margins work */
  margin: 0 auto;      /* Auto margins on left/right centers it */
}